<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movienight7</title>
    <style>
        body {
            background: url(https://i.imgur.com/roWmotE.jpeg);
            background-size: 400px;
            background-position: top;
            background-color: rgb(234, 188, 188);

        } 
        a {
            color: rgb(89, 3, 187);
            font-size:xx-large;
            background-color: rgba(165, 42, 42, 0.313);
        
        }
        a:hover {
            background-color: yellowgreen;
        }
    </style>
</head>
<body>
    <header>
        <h1>Show Page for <%= movies.title %></h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/movies">Movies Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Movie Attributes:</h2>
            <ul>
                <li>Title: <%=movies.title%></li>
            </ul>
            <h1><%=movies.title%></h1>
            <h3><%=movies.genre%></h3>
            <form href="/movies/<%= movies._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Movies" />
            </form>
        </section>
    </main>
</body>
</html>